* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background:
    linear-gradient(rgba(21, 65, 240, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/bg-desktop-light.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  gap: 60px;
}
.header {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  color: #fff;
  gap: 100px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* task  */
.task{

    text-decoration: none;
    width: 40%;
    width: 200%;
    height: 40px;
    border-radius: 5px;
    padding-left: 30px;
}
.ok{
    background: #fff;
    width: 14px;
    height:14px;
    border: solid 1px #000;
    border-radius: 50%;
    position: relative;
    transform: translateX(-190px);
}
/* hidden */
.hidden{
    display: none;
}
.result{

height: 200px;
text-align: center;

}
.list-task{
  background: #fff;
width: 300px;
height: 35px;
display: flex;
justify-content: space-around;
gap: 20px;
}
.del{
  background: none;
  border: none;
}
.check-list{
      background: #fff;
    width: 14px;
    height:14px;
    border: solid 2px #000;
    border-radius: 50%;
}
.font{
  font-size: 26px;
}