* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-light {
  background:
    linear-gradient(
      to right,
      rgba(215, 24, 232, 0.392) 30%,
      rgba(21, 65, 240, 0.54)
    ),
    url(../images/bg-desktop-light.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  gap: 60px;
}

.container-dark {
  background:
    linear-gradient(to right, rgba(73, 106, 235, 0.5), rgba(186, 51, 175, 0.5)),
    url(../images/bg-desktop-dark.jpg);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* align-items: center; */
  gap: 60px;
}
.body-dark {
  background: rgb(24 24 36);
}
.header {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  color: #fff;
  gap: 100px;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* task  */
.task {
  text-decoration: none;
  width: 40%;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding-left: 30px;
}
.ok {
  background: #fff;
  width: 14px;
  height: 14px;
  border: solid 1px #000;
  border-radius: 50%;
  position: relative;
  transform: translateX(-290px);
}
/* hidden */
.hidden {
  display: none;
}
.result-page {
  height: 200px;
  text-align: center;
}
.list-task ul li {
  background: #fff;
  width: 400px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.list-dark ul li {
  background: hsl(234.78deg 23.71% 19.02%);
  color: #fff;
  width: 400px;
  height: 35px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.del {
  background: none;
  border: none;
}
.check-list {
  background: #fff;
  width: 14px;
  height: 14px;
  border: solid 1px #000;
  border-radius: 50%;
}
.check-list:hover {
  border-color: rgb(85, 100, 232);
}
.font {
  font-size: 26px;
}
.icon-check {
  background: rgb(63, 96, 218);
  border-radius: 50%;
  width: 15px;
  height: 20px;
}
.choose-light {
  background: #fff;
  width: 400px;
  height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.choose-dark {
  background: hsl(234.78deg 23.71% 19.02%);
  color: #fff;
  width: 400px;
  height: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.choose:hover {
  cursor: pointer;
}
.control {
  display: flex;
  gap: 10px;
}
